.divGeneral { 
    display: flex;
    flex-direction: column;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.5rem;
    flex-grow: 2;
}

.h5Dashboard { 
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    font-size: medium;
    color: white;
}

.divOffer { 
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-top: 1.25rem;
    background-color: #0d0d0d; 
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    flex-grow: 1;
    

}
.h6Offer { 
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    font-size: x-large;
    font-weight: bold;
    letter-spacing: 0.025em;
    color: #f77bbf;
}



.divServices {
    display: grid;
    gap: 1.5rem;
}

.divServiceCard { 
    background-color: #1d1d1d;
    border-radius: 0.5rem;
    color: white;
}


@media (min-width: 640px) {

}


@media (min-width: 1024px) { 
    .divServices { 
        grid-template-columns: repeat(2, 1fr)
    }
    .divServiceCard { 
        grid-template-columns: repeat(1, 1fr)
    }
}

