.divItem { 
    color: #f77bbf;
    padding: 0.75rem 1.25rem 0rem 1.25rem;
}

.divGeneral { 
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    margin-top: 1rem;
    
}


.spanActiveItem {
    
    margin-left: 1rem;
    font-weight: bold;
    color: #f77bbf;
    font-size: x-large;
    border-bottom: 3px solid #f77bbf;

}
.divItem {
    display: flex;
    justify-content: right;
    font-weight: bolder;
    gap: 0.75rem;
    font-size: large;
    align-items: center;
    
}
